<ion-content>
    <div id="container">
        <div id="information">
            <div id="player-turn">
                <strong>Player's Turn:</strong> &nbsp; <div class="counter {{ playerTurn === Space.YELLOW  ? 'yellow' : 'red'}}"></div>
            </div>

            <br *ngIf="displayNoSpaceInColumnMessage">

            <div *ngIf="displayNoSpaceInColumnMessage" class="red">
                Cannot place a counter in that column.
            </div>
        </div>

        <div id="board" [class]="isWinner ? 'disabled' : ''">
            <div *ngFor="let column of spaces; let i = index" class="column" (click)="placeCounter(i)">
                <div *ngFor="let space of column; let j = index;" class="space {{ getSpaceCSS(space) }}"></div>
            </div>
        </div>

        <div id="options">
            <button class="cnt-4-btn" (click)="restart()">Restart</button>
            <button class="cnt-4-btn" (click)="quit()">Quit</button>
        </div>
    </div>

    <div *ngIf="isWinner" class="overlay"></div>

    <div *ngIf="isWinner" class="popup">
        <div class="popup__title">
            Game Over
        </div>

        <div class="popup__content">
            <span class="{{ playerTurn === Space.YELLOW ? 'yellow' : 'red' }}">{{ playerTurn === Space.YELLOW ? "Yellow" : "Red" }}</span>&nbsp;player has won!
        </div>
        <div class="popup__footer">
            <button class="cnt-4-btn" (click)="restart()">Restart</button>
            <button class="cnt-4-btn" (click)="quit()">Quit</button>
        </div>
    </div>
</ion-content>
