#container {
    align-items: center;
    background: var(--game-background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    #information {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        height: fit-content;
        padding: 20px 0;
        min-height: 100px;
        max-height: 150px;
        max-width: 700px;
        width: 100%;

        #player-turn {
            align-items: center;
            display: flex;
            font-size: 30px;
            justify-content: space-between;
            min-width: 250px;
            width: 50%;

            .counter {
                border-radius: 50%;
                display: inline-block;
                height: 50px;
                width: 50px;

                &.yellow {
                    background: var(--yellow);
                }

                &.red {
                    background: var(--red);
                }
            }
        }
    }

    #board {
        background: var(--board-color);
        height: fit-content;
        margin: 5px;
        max-width: 700px;
        width: 100%;

        &.disabled {
            pointer-events: none;
        }

        .column {
            display: inline-block;
            height: fit-content;
            width: calc(100% / 7);

            &:hover {
                background: var(--board-color-hover);
                cursor: pointer;
            }

            .space {
                border-radius: 50%;
                margin: 5%;
                width: 90%;

                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }

                &.free {
                    background: var(--free);
                }

                &.yellow {
                    background: var(--yellow);
                }

                &.red {
                    background: var(--red);
                }
            }
        }
    }

    #options {
        align-items: center;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 100px;
        max-height: 150px;
        max-width: 700px;
        padding: 0 10px;
        width: 100%;
    }
}
