<ion-content>
    <div id="welcome-container">
        <h1 id="title">
            Connect
            <br>
            <span class="yellow">F</span>
            <span class="red">O</span>
            <span class="yellow">U</span>
            <span class="red">R</span>
        </h1>

        <div id="btn-container">
            <button class="cnt-4-btn cnt-4-btn--large" (click)="navigateToPage(false)">
                Play Computer
            </button>

            <button class="cnt-4-btn cnt-4-btn--large" (click)="navigateToPage(true)">
                Two Player
            </button>
        </div>

      <footer>
          By Toby Essex
      </footer>
    </div>
</ion-content>
