#welcome-container {
    align-items: center;
    background: var(--game-background);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

    #title {
        color: var(--board-color-hover);
        font-size: 50px;
        font-weight: 900;
        text-align: center;

        .yellow {
            color: var(--yellow);
        }

        .red {
            color: var(--red);
        }
    }

    #btn-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-around;
        width: 200px;
    }

    footer {
        color: black;
        font-size: 25px;
        font-weight: bold;
    }
}
