/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

* {
    font-family: 'Tomorrow', sans-serif;
}

.yellow {
    color: var(--yellow)
}

.red {
    color: var(--red)
}

.cnt-4-btn {
    background: var(--board-color);
    border: 5px solid var(--board-color-hover);
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 150px;

    &.cnt-4-btn--large {
        height: 75px;
        width: 300px;
    }

    &:hover {
        outline: none;
        background: var(--board-color-hover);
        border-color: var(--board-color);
    }
}

.overlay {
    background: rgba(0, 0, 0, .7);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.popup {
    background: var(--board-color);
    border: 5px solid var(--board-color-hover);
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: fit-content;
    left: 0;
    margin: auto;
    max-width: 500px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;

    .popup__title, .popup__content, .popup__footer {
        border: 5px solid var(--board-color-hover);
        margin: 5px;
        padding: 5px;
    }

    .popup__title {
        text-align: center;
    }

    .popup__content {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: justify;
        min-height: 100px;
    }

    .popup__footer {
        align-items: center;
        border: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
}
